﻿

.navbar-nav {
  justify-content: flex-end;
}

body{
  color: #696969;
}
a:link {
  color: #3b3420;
  text-decoration: none;
}
a:visited {
  color: #3b3420;
  text-decoration: none;
}
a:hover {
  color: #a52f09;
  text-decoration: none;
}
a:active {
  color: #a52f09;
}
a.order-button, a.order-button:hover{
  color: #fdfcf7;
}
.productInfo, .action{
  max-width: 200px;
}
p{
  font-size: 0.8rem;
}
#orderProcess {
  list-style: none;
  padding: 0;
  clear: both;
}
#orderProcess li {
  color: #696969;
  display: inline;
  font-size: 1.2em;
  margin-right: 15px;
  padding: 3px 0px 0px 5px;
}
.step-number {
    background-color: #edece8;
    border: 1px solid #e6e4d9;
    font-size: 1.5em;
    margin-right: 5px;
    padding: 3px 10px;
}
.current .step-number {
    background-color: #a52f09;
    border-color: #712107;
    color: #fefefe;
} 
.orderPageList{
    padding-inline-start: 20px;
}
.actions .order-button{
  margin-left:20px;
}

label[for="OrderQuantity"]{
  padding-left: 15px;
}
#OrderQuantity{
  margin: 0 15px;
  max-width: 100px;
}
.order-calc{
  display: inline-block;
  margin: 0 10px;
}
.input-validation-error, .input-validation-error:focus {
  background: #ffccba;
  color: #d63301;
}
.form-control.input-validation-error:focus{
  border-color: #d63301;
  box-shadow: 0 0 0 0.2rem rgba(255, 123, 123, 0.5);
}
      
.field-validation-error {
  color: #be3e16;
}
.validation-summary-errors {
  color: #be3e16;
}