﻿@page
@model Blog.Pages.ArticleAddModel
@{
   
}

  <form method="post">
    <div class="row">
      
        <div class="col-9">
            <ul class="orderPageList" data-role="listview">
               
                <li class="Title">
                    <div class="form-group">
                        Title:
                        <input  asp-for="Title" class="form-control form-control-sm" />                
                       <span asp-validation-for="Title"></span>
                    </div>
                </li>
                <li class="Body">
                    <div class="form-group">
                       Body:
                        <textarea asp-for="Body" class="form-control form-control-sm"></textarea>               
                        <span asp-validation-for="Body"></span>
                    </div>
                </li>
               
            </ul>
            <p class="actions">
                <input type="hidden" asp-for="Article.Id" />
                <button class="btn btn-danger add-button">Add Article</button>
            </p>
        </div>
    </div>
</form>
@section scripts{
   <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
   <script>tinymce.init({selector:'textarea'});</script>
}