﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div  class="text-center">
    <h1 class="display-4">Blog list</h1>
    <table  border="1">
        <tr><th>#</th><th>Title</th><th>Body</th><th>Time</th><th></th></tr>
        
  @foreach (var Article in Model.Articles)
{
   <tr><td>@Article.Id</td><td>@Article.Title</td><td>@Article.Body</td><td>@Article.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</td>
   <td> <a asp-page="/view" asp-route-id="@Article.Id" title="View @Article.Title">View</a> </td>
   </tr>
   
} 
    </table>

</div>