﻿@page
@model MyFriends.Pages.AddModel
@{
   
}

  <form method="post">
    <div class="row">
      
        <div class="col-9">
            <ul class="orderPageList" data-role="listview">
               
                <li class="email">
                    <div class="form-group">
                        Name:
                        <input  asp-for="Name" class="form-control form-control-sm" />                
                       <span asp-validation-for="Name"></span>
                    </div>
                </li>
                <li class="shipping">
                    <div class="form-group">
                       Age:
                        <input  asp-for="Age" class="form-control form-control-sm"></input>               
                        <span asp-validation-for="Age"></span>
                    </div>
                </li>
               
            </ul>
            <p class="actions">
                <input type="hidden" asp-for="Friend.Id" />
                <button class="btn btn-danger add-button">Add</button>
            </p>
        </div>
    </div>
</form>
@section scripts{
   <partial name="_ValidationScriptsPartial" />
}