﻿@page "{id:int}"
@model MyFriends.Pages.DeleteModel
@{
    @* ViewData["Title"] = @Model.Friend.Name; *@
}
<h3>Are you sure you want to delete this record?</h3>
<h4>Name:@Model.Friend.Name</h4>
<h4>Age:@Model.Friend.Age</h4>
<br>
<form method="post">
    <input type="submit" value="Delete">
</form>
<a asp-page="/Index" asp-route-id = "@Model.Friend.Id">Cancel</a>