﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div  class="text-center">
    <h1 class="display-4">Friends list</h1>
    <table  border="1">
        <tr><th>#</th><th>Name</th><th>Age</th></tr>
        
  @foreach (var Friend in Model.Friends)
{
   <tr><td>@Friend.Id</td><td>@Friend.Name</td><td>@Friend.Age</td>
   <td> <a asp-page="/view" asp-route-id="@Friend.Id" title="View @Friend.Name">View</a> </td>
   </tr>
   
} 
    </table>

</div>