﻿@page "{id:int}"
@model MyFriends.Pages.ViewModel
@{
    ViewData["Title"] = "View Friend";
}

<form method="post">
    
        <div class="col-9">
            <ul class="orderPageList" data-role="listview">
                <li>
                    <div>
                        Id:
                        <p class="Id">@Model.Friend.Id</p>
                    </div>                
                </li>
                <li class="name">
                    <div class="form-group">
                        Name:
                        <input asp-for="Name" class="form-control form-control-sm" />                
                        <span asp-validation-for="Name"></span>
                    </div>
                </li>
                <li class="age">
                    <div class="form-group">
                       Age:
                        <input asp-for="Age" class="form-control form-control-sm"  ></input>               
                       <span asp-validation-for="Age"></span>
                    </div>
                </li>
               
            </ul>
            <p class="actions">
               
                <button class="btn btn-danger order-button">Update</button>
                <a asp-page="/Delete" asp-route-id="@Model.Friend.Id" >Delete</a> 
                
            </p>
        </div>
    </div>
</form>
@section scripts{
   <partial name="_ValidationScriptsPartial" />
}